:root {
  --blue: #6f8fae;
  --dark: #111;
  --accent1: #5a8cb1;
  --accent2: #d7c2a3;
  --black: #2e2d2e;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Glacial; /* set name */
  src: url(/fonts/glacial-indifference.regular.otf); /* url of the font */
}

p {
  color: var(--black);
}

@font-face {
  font-family: Glacial;
  src: url(/fonts/glacial-indifference.bold.otf);
  font-weight: bold;
}

* {
   font-family: Glacial, sans-serif;
}


@font-face {
  font-family: Fredoka;
  src: url(/fonts/Fredoka-VariableFont_wdth,wght.ttf);
}

html {
	scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Glacial, sans-serif;
  background: var(--accent2);
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/* HEADER / NAV */
.header {
  background: var(--accent1);
  padding: 3px 24px;
  overflow: visible;
  display: grid;
  grid-template-columns: 10vw 1fr;
  gap: 30px;
}

.nav {
  display: flex;
  gap: 6%;
  align-items: center;
  padding-left: 83px;
}

.nav-item {
  position: relative;
  text-decoration: none;
  font-size: 24px;
  z-index: 1;
  color: var(--black);
}

.nav-logo {
  position: relative;
  text-decoration: none;
  padding-left: 2vw;
  z-index: 1;  
  display: inline-block;
  overflow: hidden;
  height: 3em;  
  cursor: pointer;
}

.nav-logo span{
  font-size: 38px;
  display: block;
  font-family: Fredoka;
  font-weight: bold;
  color: var(--accent2);
  transition: transform 0.2s ease;
  height: 1.5rem;
}


.nav-logo span:first-child {
  transform: translateY(0);
}

.nav-logo span:last-child {
  transform: translateY(300%);
}

.nav-logo:hover span:first-child {
  transform: translateY(-600%);
}

.nav-logo:hover span:last-child {
  transform: translateY(-100%);
}



.nav-item::before {
  content: "";
  position: absolute;
  left: 38%;
  top: -167%;
  width: 110px;
  height: 107px;
  background: var(--accent2);
  border-radius: 50%;
  transform: translateX(-50%) scale(0.7);
  transform-origin: center;
  z-index: -1;
  border: 5px solid var(--accent1);
  margin-left: 1vw;
  opacity: 0;
  transition: 150ms cubic-bezier(.6,-0.28,.74,.05);
}

.nav-item:hover::before,
.nav-item.active::before {
  transform: translateX(-50%) scale(1);
  transition: 400ms cubic-bezier(.18,.89,.32,1.28);
  opacity: 1;
}

.nav-item:hover,
.nav-item.active {
  color: var(--accent1);
}




/* BANNER */
.banner {
  height: 230px;
  background: var(--accent1);
  overflow: hidden;
  display: grid;
  grid-template-columns: 70vw 1fr;
  gap: 10px;
}

.banner .video {
  width: 100%;
  z-index: 0;
  position: relative;
  
}

.logo {
  position: relative;
  color: var(--accent2);
  font-weight: bold;
  padding-right: 4vw;
}

.logo h1 {
  margin: 0;
  font-size: 87px;
  font-family: Fredoka;
  text-align: center;
}

.logo p {
  margin: 6px 0 0;
  font-size: 17px;
  letter-spacing: 2px;
  text-align: center;
}

/* CONTENT */
.content {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 25px;
  padding: 30px;
}


.profile{
  margin-left: 3vw;
  margin-top: -13vh;
  z-index: 1;
  margin-left: 3vw;
  width: 297px;
  aspect-ratio: 1;
  margin-top: -95px;
}

.profile h2 {
margin-top: -83px;
  color: var(--accent1);
  letter-spacing: 2px;
  font-size: 25.9px;
  text-align: center;
  line-height: 1.17;
}

.reel{
  padding-left: 6vw;
  padding-right: 6vw;

}


.profile img {
  height: 100%;
  object-fit: cover;
  clip-path: url(#blob-frame);
  width: 100%;
  border-radius: 134px;
}

.reel .video {
  aspect-ratio: 16 / 9;
  border-radius: 16px;
}

.reel h3 {
  text-align: center;
  margin-top: 16px;
  letter-spacing: 45px;
  color: var(--accent1);
  font-weight: bold;
  font-size: 17.9px;
}


.svg .img {
  href: url("/images/P1010436.png");   /* modern browsers */
  width: 200px;
  height: 200px;
}

/* Projects */

.Projects {
	padding: 8%;
	padding-top: 3%;
}

.Projects section{
	margin-bottom: 3em;
}

.ProjectContent {
  display: grid;
  grid-template-columns: 25% 1fr;
  gap: 30px;
  height: 100% 
}

.ProjectList {
  padding: 3px 24px;
  overflow: visible;
  border-right: 6px solid var(--accent1);
}
  
.ProjectList h1, .shortsTitle h1{
	margin-bottom: 2rem;
	text-align: center;
	color: var(--accent1);
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.title {
	text-decoration: underline;
	margin-bottom: 1em;
	font-size: 30px;
	color: var(--black);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ProjectList li a {
  display: block;
  text-align: end;
  text-decoration: none;
  transition: 100ms;
  padding-top:15px;
}

.ProjectList li a:hover {
  padding-right:20px;
  transition: 100ms;
}


  
.project-nav-item {
  position: relative;
  text-decoration: none;
  font-size: 24px;
  z-index: 1;
  color: var(--black);	
}

.Projects{

}

.Projects title{
	font-size: 27px;
	color: black;
	margin-bottom: 1rem;
}

.Projects p{
    margin-bottom: 1rem;	
}

/* SHORTS */

.shortsTitle {
  padding: 3px 24px;
  overflow: visible;
  border-bottom: 6px solid var(--accent1);
  height: 6rem;
}

.shortsGrid {
  padding: 6%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 0.4fr));
  gap: 20px;
  justify-content: center;
}

.shortContainer {
	height: auto;
	padding: 15px;
	color: var(--black);
}

.shortInfo{
	padding-top:10px;
	font-style: italic;
}

.shortContainer .title{
	text-align: center;
}

/* FOOTER*/
.footer {
  background: var(--accent1);
  padding: 3px 24px;
  overflow: visible;
  display: grid;
  grid-template-columns: 30% 1fr;
  gap: 30px;
  margin-top: auto;
}

.CopyrightDisclaimer {
  max-width: 90%;
  margin-left: auto;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--black);
  text-align: center;
}