/* Default Theme 
:root {
  --blue: #6f8fae;
  --dark: #111;
  --text: #111;
  --title: #111;
  --background: #dfd4c1;
  --accent1: #5a8cb1;
  --accent2: #dfd4c1; /*#d7c2a3 
  --black: #2e2d2e;
} */



/* Dark Theme  */

:root {
  --header: #2e506b;
  --background: #29394a;
  --blue: #6f8fae;
  --text: #bab6ac;
  --title: #c3c0bd;
  --accent1: #2e506b;
  --accent2: #c3c0bd; /*#d7c2a3 */
  --black: #bab6ac;
  --footer: #152531;
  --footerText: #697075;
  --orange: #de743a;
  --yellow: #deb63a;
  --cyan: #3ade91;
  --cyanHover: #71c39c;
} 

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Glacial; /* set name */
  src: url(/fonts/glacial-indifference.regular.otf); /* url of the font */
}

@font-face {
  font-family: Glacial;
  src: url(/fonts/glacial-indifference.bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: Fredoka;
  src: url(/fonts/Fredoka-VariableFont_wdth,wght.ttf);
}

@font-face {
  font-family: Josefin;
  src: url(/fonts/JosefinSans-Regular.ttf);
}


p {
  color: var(--black);
  margin-top: 0;
  margin-bottom: 2em;
  font-size: 18;
}


* {
   font-family: Glacial, sans-serif;
}


html {
	scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Glacial, sans-serif;
  background: var(--background);
  color: var(--black);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/* HEADER / NAV */
.header {
  background: var(--accent1);
  padding: 3px 24px;
  overflow: visible;
  display: grid;
  grid-template-columns: 10vw 1fr;
}

.nav {
  display: flex;
  gap: 6%;
  align-items: center;
  padding-left: 83px;
}

.navbarLogo{
  color: var(--cyan) !important;
}

.nav-item {
  font-family: Josefin;
  position: relative;
  text-decoration: none;
  font-size: 25px;
  z-index: 1;
  color: var(--accent2);
}

.nav .icon {
  display: none;
  position: relative;
  text-decoration: none;
  font-size: 24px;
  z-index: 1;
  color: var(--black);
}

@media screen and (max-width: 600px) {
  .nav {display: block}
  .nav a {display: none;}
  .nav a.icon {
    display: block;
    font-family: Glacial;
    text-decoration: none;
    font-size: 25px;
    z-index: 1;
    color: var(--black);
  }
  .nav.responsive{
    padding-left: revert-rule;
  }

  .nav-item{
    padding: 4px;
    font-size: 20px;
  }

  .header {
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    padding: 3px 12px;
  }
}

@media screen and (max-width: 600px) {
  .nav.responsive {
    gap: 6%;
    align-items: flex-start;
    flex-direction: column;
    align-content: center;
    transition: transform 0.2s ease;

  }
  .nav.responsive a.icon {
    position: absolute;
    right: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
    text-decoration: none;
    z-index: 1;
    color: var(--black);
    padding-left: 0;
    transition: transform 0.2s ease;
  }
}


.nav-logo {
  position: relative;
  text-decoration: none;
  padding-left: 2vw;
  z-index: 1;  
  display: inline-block;
  overflow: hidden;
  height: 3em;  
  cursor: pointer;
}

.nav-logo span{
  font-size: 38px;
  display: block;
  font-family: Fredoka;
  font-weight: bold;
  color: var(--accent2);
  transition: transform 0.2s ease;
  height: 1.5rem;
}


.nav-logo span:first-child {
  transform: translateY(0);
}

.nav-logo span:last-child {
  transform: translateY(300%);
}

.nav-logo:hover span:first-child {
  transform: translateY(-600%);
}

.nav-logo:hover span:last-child {
  transform: translateY(-100%);
}



@media screen and (min-width: 600px) {
  
  .nav-item::before {
    content: "";
    position: absolute;
    left: 38%;
    top: -167%;
    width: 110px;
    height: 107px;
    border-radius: 50%;
    transform: translateX(-50%) scale(0.7);
    transform-origin: center;
    z-index: -1;
    border: 5px solid var(--accent1);
    margin-left: 1vw;
    opacity: 0;
    transition: 150ms cubic-bezier(.6,-0.28,.74,.05);
    background: var(--cyanHover);
  }
}
.nav-item:hover::before,
.nav-item.active::before {
  transform: translateX(-50%) scale(1);
  transition: 400ms cubic-bezier(.18,.89,.32,1.28);
  opacity: 1;
}

.nav-item:hover,
.nav-item.active {
  color: var(--accent1);
}




/* BANNER */
.banner {
  background: var(--accent1);
  overflow: hidden;
  display: grid;
  grid-template-columns: 50vw 1fr;
  gap: 44px;
}

.banner .video {
  width: 100%;
  z-index: 0;
  position: relative;
  transform: skewX(5deg);
  translate: -20px 0px;
  filter: grayscale(60%);
}

.logo {
  position: relative;
  color: var(--cyan);
  font-weight: bold;
  padding-right: 4vw;
}

.logo h1 {
  font-size: 3vw;
  font-family: Josefin;
  text-align: center;
  margin-bottom: 0;
}

.logo p {
  margin: 6px 0 0;
  font-size: 1.1vw;
  letter-spacing: 2px;
  text-align: center;
  font-family: Josefin;
}

@media screen and (max-width: 600px) {
  .banner{display:block}
  .banner .video{translate: unset; transform: unset;}
  .logo {padding-right: 0; padding-bottom: 16px;}
  .logo h1{font-size: 6vw;}
  .logo p{margin: 2px 0 0;font-size: 3vw;letter-spacing: 2px;}
}


/* CONTENT */
.content {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 25px;
  padding: 30px;
}


.profile{
  z-index: 1;
  margin-left: 3vw;
  margin-top: -95px;
  width: inherit;
  position: relative;
}

.profile h2 {
margin-top: -83px;
  color: var(--accent1);
  letter-spacing: 2px;
  font-size: 25.9px;
  text-align: center;
  line-height: 1.17;
}


.profile img {
  height: 100%;
  object-fit: cover;
  clip-path: url(#blob-frame);
  width: 100%;
  border-radius: 134px;
}

.reel video, .reel iframe {
  border: 0;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.reel{
  padding: 4%;
  padding-top: 0;
  width: inherit;
  position: relative;
  overflow: hidden;
}

.reel h3 {
  text-align: center;
  margin-top: 47px;
  letter-spacing: 6px;
  font-size: 35px;
  margin-bottom: 1%;
  font-family: Josefin;
}


.svg .img {
  href: url("/images/P1010436.png");   /* modern browsers */
  width: 200px;
  height: 200px;
}

/* Projects */

.Projects {
	padding: 8%;
	padding-top: 3%;
  padding-right: 10%;
  padding-left: 10%;
}

.Projects a{
  margin-bottom: 0.2em;
  color: #e6e1d4;
  font-family: 'Josefin';
  font-size: 25;
  font-weight: 500;
}

.ProjectContent {
  display: grid;
  grid-template-columns: 20% 1fr;
  gap: 23px;
  overflow: hidden;
}

.Projects .shortInfo{
  font-style: italic;
  text-align: right;
  position: relative;
}
.ProjectList {
  padding: 3% 8%;
  overflow: visible;
  border-right: 6px solid var(--accent1);
}
  
.ProjectList h1, .shortsTitle h1{
	text-align: center;
	color: var(--title);
	text-transform: uppercase;
	letter-spacing: 0.1em;
  font-family: 'Josefin';
  font-size: 25;
}

.ProjectList h2, .shortsTitle h2{
	font-family: Glacial, sans-serif;
  text-align: center;
  padding: 0;
  color: var(--cyan);
  margin-bottom: 0;
  margin-top: 20%;
}

.shortsTitle h1{
	text-align: center;
}

.title {
	margin-bottom: 0.2em;
  color: var(--title);
  font-family: 'Josefin';
  font-size: 25;
  font-weight: 500;
  text-transform: uppercase;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ProjectList li a {
  display: block;
  text-align: end;
  text-decoration: none;
  transition: 150ms;
  padding-top:10px;
  cursor: pointer;
}

.ProjectList li a:hover {
  padding-right:5%;
  transition: 150ms;
  color: var(--cyanHover);
  font-weight: bold;
}


.project-nav-item {
  position: relative;
  text-decoration: none;
  font-size: 19px;
  z-index: 1;
  color: var(--text);	
}

.Projects section, .shortsGrid section {
  margin-left:5%;
  margin-right:5%;
  height: auto;
	padding: 15px;
	color: var(--black);
  display: block;
  position: relative;
  margin-bottom: 4em;
}

.sticker{
  display:block;
  position:absolute;
  right:0;
  top:0;
}

.Projects iframe, .shortsGrid iframe {
  width:100%;
  aspect-ratio: 16/9;
  border: 6px solid var(--accent1);
}

.Projects .backsplash, .shortsGrid .backsplash {
  background-color: var(--accent1);
  transform: skewX(16deg);
  width: 89%;
  height: 97%;
  display: inherit;
  position: absolute;
  z-index: -3;
}

.Projects title, .shortsGrid title{
  text-align: left;
  font-family: Josefin;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.Projects .undertitle, .shortsGrid .undertitle{
  text-align: right !important;
  font-size: 17px !important;
  color: var(--accent2) !important;
  font-family: Josefin;
  font-weight: 400 !important;
  margin-top: 2%;
}

.Projects p, .shortsGrid p{
  text-align: justify;
  font-size: 15px;
  margin-bottom: 0rem;
}

.description {
  padding-bottom: 2%;
  margin-bottom: 2%;
  position: relative;
  width: 90%;
  translate: 20px 0px;
}

.textBackground{
  background-color: var(--background);
  transform: skewX(-6deg);
  width: 110%;
  height: 100%;
  display: inherit;
  position: absolute;
  z-index: -3;
  translate: -5%;
}

.decoLines{
  transform: skewX(-6deg);
  width: 110%;
  height: 100%;
  display: inherit;
  position: absolute;
  z-index: -3;
  translate: -5%;
  border-left: 20px double var(--accent1);
}

.projectContentContainer {
  padding: 6%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(800px, 0.4fr));
  gap: 20px;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .ProjectList {display: none;}
  .ProjectContent {
    display: grid;
    grid-template-columns: 100% 1fr !important; 
  }
  .Projects section{
    margin-left: 0;
    margin-right: 0;
    padding: 4px;
  }
  .Projects .description{width:100%;}
  .Projects .backsplash{width:100%; height:100%; transform: skewX(8deg);}
}



/* SHORTS */

.shortsTitle {
  padding: 3px 24px;
  overflow: visible;
  border-bottom: 6px solid var(--accent1);
}

.shortsGrid {
  padding: 6%;
  padding-top: 3%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 0.4fr));
  gap: 20px;
  justify-content: center;
  overflow: hidden;
}

.shortContainer {
	  padding: 15px;
    color: var(--black);
    height: 400px;
    overflow: hidden;
    position: relative;
}

.shortInfo{
	font-style: italic;
  text-align: right;
  position: absolute;
  bottom: 0px;
  right: 0;
}

.shortContainer .title{
	text-align: left;
}

.shortsContent video{
	width: 100%;
  border: 6px solid var(--accent1);
}

.Projects img{
	width: 100%;
  border: 6px solid var(--accent1);
}

.shortContainer iframe{
  border: 0px;
  width: 100%;
  aspect-ratio: 16 / 9;
}

/* FOOTER*/
.footer {
  background: var(--footer);
  padding: 15px;
  overflow: visible;
  display: grid;
  grid-template-columns: 30% 1fr;
  gap: 30px;
  margin-top: auto;
}

.footer p{
  color: var(--footerText);
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 14;
}

.FooterInfo p{
  font-size: 18px;
}

.CopyrightDisclaimer {
  margin-left: auto;
  font-size: 14px;
  color: var(--black);
  text-align: center;
}