
.navbar-brand{
	margin-left: 20px;
	
}
.bg-light {
    background-color: #c7d6e4!important;
}


.Gallery .title{
	font-family: East Sea Dokdo;
    font-size: 2em;
}

.Gallery .description{
    text-align: justify;
    text-indent: 30px;
}


#MovieGallery .title{
	font-family: East Sea Dokdo;
    font-size: 2em;
}

#MovieGallery .description{
    text-align: justify;
    text-indent: 30px;
    padding-left: 30px;
    padding-right: 30px;
	line-height: 1.3;
}

#MovieGallery .data{
    font-weight: 700;
}
#MovieGallery .year{
    position: relative;
}


#MovieGallery p{
	margin-left: 10px;
    padding: 10px;
    text-align: center;
	
}

.FestivalAwards{
	color: #daa520;
}

.FestivalNominations ul {list-style-type: none; margin-left: -20px;}
.FestivalNominations li:before { content: '⭐'; margin-left: -20px; } 

.FestivalAwards ul {list-style-type: none; margin-left: -20px;}
.FestivalAwards li:before { content: '🏆'; margin-left: -20px; } 

.modal-dialog {
    max-width: 70vw;
    margin: 1.75rem auto;
}

.s{
    border-radius: 5px;
    padding: 10px;
    float: left;
    margin: 10px;
    width: 400px;
    margin-bottom: 20px;
}

.Gallery{
	margin-bottom:100px;
	position:relative;
	
}

.nanogallery_viewertheme_dark_Dogs .nGY2Viewer .toolbarBackground {
        background: #000000c4 !important; 
}


video{
	width: 50%;
    object-fit: cover;
	border-radius: 5px;
}

iframe{
	border-radius: 5px;
}

#MovieGallery video{
	width: 100%;
    object-fit: cover;
}

video:focus{
	outline:none;
}

html{
	scroll-behavior: smooth;

}

img{
	border-radius: 3px;
	
}

.scroll-anchor {
    top: -100px;
    left: 0;
	position:absolute;
}

p{
margin-bottom: 0;	
}

hr {
    margin-top: -0.2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.26);
}

#pd .links{
	position:fixed;
	font-family: East Sea Dokdo;
    font-size: 25px;
	margin:30px;
	text-align: right;
}

#headerVideo video{
	width:100%;
	opacity:40%;
	object-fit: cover;
	height: inherit;
    filter: blur(4px);
}

#headerVideo{
    background: #d9e1ff;
    position: absolute;
    padding: 0px;
    height: 24vw;
	margin-top: -20px;
}

#landingText{	
	text-align: center;
	position:relative;
}

#landingText p{
	color: black;
    font-size: calc(0.8em + 0.6vw);
	font-family: 'Muli', sans-serif;
}

#landingText .location{
    font-size: calc(0.5em + 0.5vw);

}

#landingText .title{
	color: black;
	font-size: calc(1.8em + 0.6vw);
	font-family: 'Muli', sans-serif;
}

.bold{
	font-weight: 800;
}

.bloglink{
	padding: 0;
}

a {
    color: #0014ff;
}

body{
	background-image: url("images/fishbg.png");
	background-repeat: repeat;
	background-size: 200px;
	font-family: 'Muli', sans-serif;
}
.navbar{
	font-size: 1.1em;
}


