/* Default Theme 
:root {
  --blue: #6f8fae;
  --dark: #111;
  --text: #111;
  --title: #111;
  --background: #dfd4c1;
  --accent1: #5a8cb1;
  --accent2: #dfd4c1; /*#d7c2a3 
  --black: #2e2d2e;
} */



/* Dark Theme  */

:root {
  --header: #2e506b;
  --background: #29394a;
  --blue: #6f8fae;
  --text: #bab6ac;
  --title: #c3c0bd;
  --accent1: #2e506b;
  --accent2: #c3c0bd; /*#d7c2a3 */
  --black: #bab6ac;
  --footer: #152531;
  --footerText: #697075;
  --orange: #de743a;
  --yellow: #deb63a;
  --cyan: #3ade91;
  --cyanHover: #71c39c;
} 

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Glacial; /* set name */
  src: url(/fonts/glacial-indifference.regular.otf); /* url of the font */
}

@font-face {
  font-family: Glacial;
  src: url(/fonts/glacial-indifference.bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: Fredoka;
  src: url(/fonts/Fredoka-VariableFont_wdth,wght.ttf);
}

@font-face {
  font-family: Josefin;
  src: url(/fonts/JosefinSans-Regular.ttf);
}


p {
  color: var(--black);
  margin-top: 0;
  font-size: 18;
}


* {
   font-family: Glacial, sans-serif;
}


html {
	scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Glacial, sans-serif;
  background: var(--background);
  color: var(--black);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body.stopScroll{
  overflow: hidden;
}


/* HEADER / NAV */
.Header {
  background: var(--footer);
  padding: 3px 24px;
  overflow: visible;
  display: grid;
  grid-template-columns: 10vw 1fr;
}

iframe{
  border: 0;
}
.nav {
  display: flex;
  gap: 6%;
  align-items: center;
  padding-left: 83px;
}

.navbarLogo{
  color: var(--cyan) !important;
}

.nav-item {
  font-family: Josefin;
  position: relative;
  text-decoration: none;
  font-size: 25px;
  z-index: 1;
  color: var(--accent2);
}

.nav .icon {
  display: none;
  position: relative;
  text-decoration: none;
  font-size: 24px;
  z-index: 1;
  color: var(--black);
}

@media screen and (max-width: 600px) {
  .nav {display: block}
  .nav a {display: none;}
  .nav a.icon {
    display: block;
    font-family: Glacial;
    text-decoration: none;
    font-size: 25px;
    z-index: 1;
    color: var(--black);
  }
  .nav.responsive{
    padding-left: revert-rule;
  }

  .nav-item{
    padding: 4px;
    font-size: 20px;
  }

  .header {
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    padding: 3px 12px;
  }
}

@media screen and (max-width: 600px) {
  .nav.responsive {
    gap: 6%;
    align-items: flex-start;
    flex-direction: column;
    align-content: center;
    transition: transform 0.2s ease;

  }
  .nav.responsive a.icon {
    position: absolute;
    right: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
    text-decoration: none;
    z-index: 1;
    color: var(--black);
    padding-left: 0;
    transition: transform 0.2s ease;
  }
}


.nav-logo {
  position: relative;
  text-decoration: none;
  padding-left: 2vw;
  z-index: 1;  
  display: inline-block;
  overflow: hidden;
  height: 3em;  
  cursor: pointer;
}

.nav-logo span{
  font-size: 38px;
  display: block;
  font-family: Fredoka;
  font-weight: bold;
  color: var(--accent2);
  transition: transform 0.2s ease;
  height: 1.5rem;
}


.nav-logo span:first-child {
  transform: translateY(0);
}

.nav-logo span:last-child {
  transform: translateY(300%);
}

.nav-logo:hover span:first-child {
  transform: translateY(-600%);
}

.nav-logo:hover span:last-child {
  transform: translateY(-100%);
}



@media screen and (min-width: 600px) {
  
  .nav-item::before {
    content: "";
    position: absolute;
    left: 38%;
    top: -226%;
    width: 110px;
    height: 107px;
    transform: translateX(-55%) translateY(-20%) scale(0.7);
    transform-origin: center;
    z-index: -1;
    margin-left: 1vw;
    opacity: 0;
    transition: 200ms cubic-bezier(.6,-0.28,.74,.05);
    background: var(--cyanHover);
  }
}
.nav-item:hover::before,
.nav-item.active::before {
  transform: translateX(-55%) scale(1) skewX(16deg);
  transition: 350ms cubic-bezier(.18,.89,.32,1.28);
  opacity: 1;
}

.nav-item:hover,
.nav-item.active {
  color: var(--accent1);
}




/* BANNER */
.banner {
  background: var(--footer);
  overflow: hidden;
  display: grid;
  grid-template-columns: 40vw 1fr;
  height: 145px;
}

.banner .video {
  z-index: 0;
  position: relative;
  transform: skewX(5deg);
  translate: 2% 0px;
  filter: grayscale(60%);
  height: 80%;
  object-fit: cover;
  width: 100%;
  object-position: 0% 50%;
}

.MobileVideo{
  display: none;
  z-index: 0;
  position: relative;
  filter: grayscale(60%);
  height: 20vh;
  object-fit: cover;
  width: 100%;
  object-position: 0% 40%;
}

.logo {
  margin-right: 12vw;
  position: relative;
  color: var(--cyan);
  font-weight: bold;
  padding-left: 4vw;
  margin-top: 20px;
}

.logo h1 {
  font-size: 3vw;
  font-family: Fredoka;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.logo p {
  margin: 6px 0 0;
  font-size: 1.5vw;
  letter-spacing: 2px;
  text-align: left;
  font-family: Josefin;
  line-height: 20px;
}

@media screen and (max-width: 600px) {
  .banner{display:block}
  .banner .video{translate: unset; transform: unset;}
  .logo {padding-right: 0; padding-bottom: 16px;}
  .logo h1{font-size: 6vw;}
  .logo p{margin: 2px 0 0;font-size: 4vw;letter-spacing: 2px;}
  .MobileVideo{display: block;}
  .banner .video {display: none;}
  .banner {height: 58px;}
  .content {grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));}
}


/* CONTENT */
.content {
  display: grid;
  grid-template-columns: 30vw 1fr;
  padding-top: 0px;
  gap: 16px;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 5%;
}



.profile{
  z-index: 1;
  width: inherit;
  position: relative;
  border-radius: 5px;
  display: block;
}

.profileContent{
  background-color: #152531;
  height: 100%;
}

.profile h2 {
  letter-spacing: 2px;
  font-size: 40.9px;
  text-align: left;
  line-height: 1.17;
  color: #71c39c;
  margin-bottom: 0px;
  font-family: Josefin;
  margin-top: 0px;
  padding-left: 20px;
  padding-top: 20px;
}
.lastName  {
  font-size: 20px;
  margin-bottom: 10px;
  font-family: Josefin;
  letter-spacing: 2px;
  text-align: left;
  line-height: 1.17;
  color: #71c39c;
  margin-top: 0px;
  padding-left: 20px;
}

.profile p{
  margin-bottom: 10;
  text-align: left;
  font-size: 1em;
  margin-top: 20px;
  font-family: Arial;
  padding-left: 20px;
  padding-right: 20px;
}


.profile img {
  height: 20vw;;
  object-fit: cover;
  width: 100%;
  object-position: 0% 22%;
}

.reel video, .reel iframe {
  border: 0;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.reel{
    padding-top: 0;
    padding-left: 10;
    width: inherit;
    position: relative;
    overflow: hidden;
}

.reel h3 {
  text-align: center;
  margin-top: 20px;
  letter-spacing: 6px;
  font-size: 35px;
  margin-bottom: 10px;
  font-family: Josefin;
}


.svg .img {
  href: url("/images/P1010436.png");   /* modern browsers */
  width: 200px;
  height: 200px;
}


@media screen and (max-width: 600px) {
  .content {grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); padding:1vw;}
  .profile{display:none;}
}

.Services {
  padding-right: 5%;
  padding-left: 5%;
}

.Services section{
  margin-left:5%;
  height: auto;
	padding: 15px;
	color: var(--black);
  display: block;
  position: relative;
  margin-bottom: 4em;
}

.Services .backsplash {
  background-color: var(--footer);
  transform: skewX(8deg);
  width: 92%;
  height: 100%;
  display: inherit;
  position: absolute;
  z-index: -3;
  border: 3px solid var(--cyanHover);
}

.Services p{
  text-align: justify;
  font-size: 23px;
  margin-bottom: 0rem;
  line-height: 26px;
}

.Services .title {
  margin-bottom: 0.2em;
  color: var(--cyanHover);
  font-family: 'Josefin';
  font-size: 35;
  font-weight: 500;
  text-transform: uppercase;
}

.Services .textBackground{
  background-color: var(--background);
  transform: skewX(-6deg);
  width: 105%;
  height: 56%;
  display: inherit;
  position: absolute;
  z-index: -3;
  translate: -6% -3%;
}

/* Projects */

.Projects {
	padding: 8%;
	padding-top: 4%;
  padding-right: 6%;
  padding-left: 6%;
  overflow: hidden;
}


.Projects a, .Services a{
  margin-bottom: 0.2em;
  color: #e6e1d4;
  font-family: 'Josefin';
  font-size: 25;
  font-weight: 500;
}

.ProjectContent {
  display: grid;
  grid-template-columns: 20% 1fr;
  /* gap: 23px; */
  /* overflow: hidden; */
}

.Projects .shortInfo, .Services .shortInfo{
  font-style: italic;
  text-align: right;
  position: relative;
}
.ProjectList {
  padding: 3% 8%;
  overflow: visible;
  border-right: 3px solid var(--cyanHover)
}
  
.ProjectList h1, .shortsTitle h1{
	text-align: center;
	color: var(--title);
	text-transform: uppercase;
	letter-spacing: 0.1em;
  font-family: 'Josefin';
  font-size: 25;
}

.ProjectList h2, .shortsTitle h2{
	font-family: Glacial, sans-serif;
  text-align: center;
  padding: 0;
  color: var(--cyan);
  margin-bottom: 0;
  margin-top: 20%;
}

.shortsTitle h1{
	text-align: center;
}

.title {
	margin-bottom: 0.2em;
  color: var(--cyanHover);
  font-family: 'Josefin';
  font-size: 25;
  font-weight: 500;
  text-transform: uppercase;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ProjectList li a {
  display: block;
  text-align: end;
  text-decoration: none;
  transition: 150ms;
  padding-top:10px;
  cursor: pointer;
}

.ProjectList li a:hover {
  padding-right:5%;
  transition: 150ms;
  color: var(--cyanHover);
  font-weight: bold;
}


.project-nav-item {
  position: relative;
  text-decoration: none;
  font-size: 19px;
  z-index: 1;
  color: var(--text);	
}

.Projects section, .shortsGrid section{
  margin-left:5%;
  margin-right:5%;
  height: auto;
	padding: 15px;
	color: var(--black);
  display: block;
  position: relative;
  margin-bottom: 4em;
}

.sticker{
  display:block;
  position:absolute;
  right:0;
  top:0;
}

.Projects iframe, .shortsGrid iframe {
  width:100%;
  aspect-ratio: 16/9;

}

.Projects .backsplash, .shortsGrid .backsplash{
  background-color: var(--footer);
  transform: skewX(16deg);
  width: 89%;
  height: 97%;
  display: inherit;
  position: absolute;
  z-index: -3;
  border: 3px solid var(--cyanHover);
}

.Projects title, .shortsGrid title, .Services title, .ContactForm title{
  text-align: left;
  font-family: Josefin;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.Projects .undertitle, .shortsGrid .undertitle, .Services .undertitle{
  text-align: right !important;
  font-size: 17px !important;
  color: var(--accent2) !important;
  font-family: Josefin;
  font-weight: 400 !important;
  margin-top: 2%;
}

.Projects p, .shortsGrid p{
  text-align: left;
  font-size: 18px;
  margin-bottom: 0rem;
}

.description {
  padding-bottom: 2%;
  margin-bottom: 2%;
  position: relative;
  width: 90%;
  translate: 20px 0px;
}

.Services .description {
  padding-bottom: 2%;
  margin-bottom: 2%;
  position: relative;
  width: 80%;
  translate: 70px 0px;
}

.Services .headerTitle{
  font-size: 2em;
  font-style: italic;
  color: var(--cyanHover);
}

.textBackground{
  background-color: var(--background);
  transform: skewX(-6deg);
  width: 110%;
  height: 100%;
  display: inherit;
  position: absolute;
  z-index: -3;
  translate: -5%;
}

.decoLines{
  transform: skewX(-6deg);
  width: 110%;
  height: 100%;
  display: inherit;
  position: absolute;
  z-index: -3;
  translate: -5%;
  border-left: 20px double var(--accent1);
}

.projectContentContainer {
  padding: 6%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(800px, 0.4fr));
  gap: 20px;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .ProjectList {display: none;}
  .ProjectContent {
    display: grid;
    grid-template-columns: 100% 1fr !important; 
  }
  .Projects section{
    margin-left: 0;
    margin-right: 0;
    padding: 4px;
  }
  .Projects .description{width:100%;}
  .Projects .backsplash{width:100%; height:100%; transform: skewX(8deg);}
  .Services .description {width: 100%; translate: 0px 0px;}
  .Services .backsplash{width:100%; height:100%; transform: skewX(4deg);}
  .Services {margin-left:5%; margin-right:5%; padding:0%; overflow:hidden}
  .Services p {font-size: 18px; line-height: 23px;}
  .Services .textBackground {translate: -2% -3%;}
  .Services section{padding: 0;}
}



/* SHORTS */

.shortsTitle {
  padding: 3px 24px;
  overflow: visible;
  border-bottom: 3px solid var(--cyanHover);
}

.shortsGrid {
  padding: 6%;
  padding-top: 3%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 0.4fr));
  gap: 20px;
  justify-content: center;
  overflow: hidden;
}

.shortContainer {
	  padding: 15px;
    color: var(--black);
    height: 400px;
    overflow: hidden;
    position: relative;
}

.shortInfo{
	font-style: italic;
  text-align: right;
  position: absolute;
  bottom: 0px;
  right: 0;
}

.shortContainer .title{
	text-align: left;
}

.shortsContent video{
	width: 66%;
  margin: 0 auto;
  display: block;
}

.Projects img{
	width: 100%;
}

.shortContainer iframe{
  border: 0px;
  width: 100%;
  aspect-ratio: 16 / 9;
}

/* Popup container - can be anything you want */
#BlurPage{
  visibility: hidden;
  width: 100vw;
  height: 100%;
  display: block;
  position: fixed;
  z-index: 1;
  transition: 0.2s;
  
}

#BlurPage.show{
  visibility: visible;
  backdrop-filter: grayscale(80%);
  transition: 0.2s;
  backdrop-filter: blur(2px);
}


.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  background-color: #2e506b;
  color: #fff;
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto; 
  border: 5px solid var(--cyanHover);
  cursor: default;
  transition: cubic-bezier(.76,.05,.86,.06) 0.2s;
  padding: 20px;
}

.popuptext .title{
  margin-bottom: 0.2em;
  font-family: 'Josefin';
  font-size: 35;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 0;
  color:unset;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  animation: fadeIn 0.2s;
  top: 35%;
  transition: cubic-bezier(.25,.46,.45,.94) 0.2s;
  
}

button{
  display: block;
  appearance: none;
  background: #29394a;
  font: inherit;
    font-size: inherit;
    font-family: inherit;
  padding: 8px;
  font-family: 'Josefin';
  border: 3px solid #2e506b;
  font-size: 17px;
  color: #fff;
  transition: 0.2s;
  cursor: pointer;
}

button:hover {
  transition: 0.2s;
  padding-right: 25px;
  transition: 0.2s;
  padding-left: 25;
  border: 3px solid var(--cyanHover);
}

.CloseButton{
  margin-bottom: -40px;
  margin-left: auto;
  border: 3px solid var(--cyanHover);
  transition: 0.2s;
  cursor: pointer;
}

.CloseButton:hover {
  padding-right: 25px;
  transition: 0.2s;
  padding-left: 25;
}


.ProductionTable td:first-child {
  padding-left: 16px;
  text-align: right;
  font-weight: bold;
  padding-right: 13px;
  color: var(--cyanHover);
}


.ContactForm{
  display: block;
  margin-left: 8%;
}

.ContactForm p{
  font-family: arial;
}

.ContactForm h2{
  margin: 16px -50 0;
  font-size: 1.7vw;
  letter-spacing: 2px;
  text-align: left;
  font-family: Josefin;
}

.ContactForm .title{
  font-size: 38px;
  display: block;
  font-family: Ariel;
  font-weight: bold;
  text-transform: unset;
  margin-bottom: 0;
  color: unset;
}

/* FOOTER*/
.footer {
  background: var(--footer);
  padding: 15px;
  overflow: visible;
  display: grid;
  grid-template-columns: 30% 1fr;
  gap: 30px;
  margin-top: auto;
}

.footer p{
  color: var(--footerText);
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 14;
}

.FooterInfo p{
  font-size: 15px;
  font-family: Arial;
}

.CopyrightDisclaimer {
  margin-left: auto;
  font-size: 14px;
  color: var(--black);
  text-align: center;
}